@model IEnumerable<Proyecto.Models.Estudiante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutProject.cshtml";
}

<h2>Index</h2>

<table class="table table-hover table-condensed" style="width:600px;" align="center">
    <tr>
        <th>Estudiante ID</th>
        <th>Estudiante Nombre</th>
        <th>Estudiante Edad</th>
        <th>  </th>
    </tr>
    @foreach (var item in Model)
    {
       
        <tr>
            <td>
                @Html.DisplayFor(itemModel => item.EstudianteId)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.EstudianteNombre)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.EstudianteEdad)
            </td>
            <td>
                @Html.ActionLink("Edit ", "Edit", new { id = item.EstudianteId }, new { @class = "glyphicon glyphicon-eye-open" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EstudianteId }, new { @class = "glyphicon glyphicon-remove-circle" })
            </td>
        </tr>
    }
</table>